@import "../node_modules/bootstrap/scss/bootstrap.scss";

$primary: #ff5c00;

$theme-colors: (
    "primary": $primary
);
@include color-mode(dark) {
    footer {
        background-color: var(--bs-body-bg);
    }
}