.btn-menu {
    background-color: #27272a;
    transition: all 0.3s ease;
}

.btn-menu:hover {
    background-color: #27272a79;
}


.nav-link {
    font-weight: 500;
}

.active{
    text-underline-offset: 15px;
}
body{
    background-image: url(https://brominee.github.io/PaladiumClicker/background_light.webp);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}
footer{
    background-color: #27272a;
    text-align: center;
    margin-top: 31px;
    padding-top: 20px;

}
.fspan{
    color: #ff5c00;
}