body, [data-bs-theme=light] {
    background-image: url(https://brominee.github.io/PaladiumClicker/background_light.webp);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "slnt" 0;
}
body, [data-bs-theme=dark] {
    background-image: url(https://brominee.github.io/PaladiumClicker/background_dark.webp);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "slnt" 0;
}
.navbar{
    height: 63px;
}
.navbar-icon{
    margin-left: 20px;
}

.navbar-img{
    width:50px; 
    height:50px;
    margin-right: -11px;
}
.nav-item {
    font-weight: 500;
    margin-left: 5px;
}
.dropdown-item {
    font-weight: 500;
}


.btn-offcanvas{
    width: 25px;
    height: 25px;    
}

body, .coucou {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "slnt" 0;
    margin: 0;
}

.about-1, [data-bs-theme=dark] {
    margin-top: 40px;
    margin-left: -30px;
    padding-right: -300px;
    width: 100%; 
    background-color:#0a0a0acc; 
    border-radius: .75rem;
    align-items: center;
}

.animate-on-hover {
    transition: transform 0.3s ease-in-out;
}

.animate-on-hover:hover {
    transform: scale(1.0665); /* Augmentez la taille de 10% */
}


.factions {
    margin-top: 80px;
    padding: 0;
    margin-left: 3.5rem; 
    background-color:#0a0a0acc; 
    border-radius: .75rem
}
.faction{
    background-color: #0a0a0acc;
}