
// Custom.scss
// Option A: Include all of Bootstrap

// Include any default variable overrides here (though functions won't be available)

@import "../node_modules/bootstrap/scss/bootstrap";

$primary: #ff5c00;
$danger: #ee3925;

$theme-colors: (
    "primary": $primary,
    "danger": $danger
);

// Create your own map
$custom-colors: (
  "custom-color": #27272a7e
);

// Merge the maps
$theme-colors: map-merge($theme-colors, $custom-colors);